<form id="bnbInfo-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {notempty name="row['id']"}
    <input type="hidden" name="row[id]" value="{$row.id}">
    {/notempty}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text"  {notempty name="row['name']"}value="{$row.name}"{/notempty}>
        </div>
    </div>
    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" {notempty name="row['weigh']"}value="{$row.weigh}"{/notempty}>
        </div>
    </div>
    <div class="form-group ">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
