{if $wechat_jssdk_api}

    {if $wechat_emu}
        <script type="text/javascript" charset="utf-8">
    {else/}
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            wx.config({$wechat_jssdk->config($wechat_jssdk_api, false)});
            wx.ready(function () {
    {/if}

    {include file="../theme_bnb/layout/wechat_user_location.html" /}

    {if $wechat_emu}
        </script>
    {else/}
        }); // end wx ready
        </script>
    {/if}
{/if}