// 地理位置
{if in_array('getLocation', $wechat_jssdk_api)}

    var longitude = 117.135290000000 + {:rand(-1000,1000)/1000};
    var latitude = 36.662710000000 + {:rand(-1000,1000)/1000};
    var getLocation_url = '{:url("setUserLocation")}';

    {if !($wechat_emu)}
        wx.getLocation({
            type: 'wgs84',
            success: function (res) {
                latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                $.ajax({
                    type: 'POST',
                    url: getLocation_url,
                    data: {lat:latitude, lng:longitude},
                    dataType: "json",
                });
            }
        });

    {else/}
        $.ajax({
            type: 'POST',
            url: getLocation_url,
            data: {lat:latitude, lng:longitude},
            dataType: "json",
        });

    {/if}

{/if}

