<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="user-more">
        <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action=""  style="padding-top:50px;">
            <div class="form-group">
                <label for="nickname" class="control-label col-xs-12 col-sm-2">房东:</label>
                <div class="col-xs-12 col-sm-8 col-width" >
                    <input id="nickname"  class="form-control" name="row[user_nickname]" type="text" value="{$row.user_nickname}" readonly>
                </div>
                <div class="col-xs-12 col-sm-8  col-width-320" >
                    <label for="bill_date" class="label-col">结算日期:</label>
                    <input id="bill_date"  class="form-control input-label" name="row[bill_date]" {notempty name="row['bill_date']"}value="{$row.bill_date}"{else/}value="未填写"{/notempty}  readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="status" class="control-label col-xs-12 col-sm-2">状态:</label>
                <div class="col-xs-12 col-sm-8 col-width">
                    {php}$state = intval($row['status'])+1;{/php}
                    <input id="status"  class="form-control" name="row[status]" type="text"  value="{$stateList[$state]}"  readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="bnb_money" class="control-label col-xs-12 col-sm-2">结算金额:</label>
                <div class="col-xs-12 col-sm-8 col-width">
                    <input type="text" class="form-control" id="bnb_money" name="row[bnb_money]" {notempty name="row['bnb_money']"}value="{$row.bnb_money}"{else/}value="暂无"{/notempty} disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-xs-12 col-sm-2">民宿名称:</label>
                <div class="col-xs-12 col-sm-8 col-width" style="width:350px;">
                    <input type="text" class="form-control" id="name" name="row[name]"  {notempty name="row['name']"}value="{$row.name}"{else/}value="暂无"{/notempty}  disabled />
                </div>
            </div>
            <div class="form-group" >
                <label for="order_sn" class="control-label col-xs-12 col-sm-2">民宿单号:</label>
                <div class="col-xs-12 col-sm-8 col-width" style="width:350px;">
                    <input type="text" class="form-control" id="order_sn" name="row[order_sn]" {notempty name="row['order_sn']"}value="{$row.order_sn}"{else/}value="暂无"{/notempty}   disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="createtime" class="control-label col-xs-12 col-sm-2">创建时间:</label>
                <div class="col-xs-12 col-sm-8 col-width">
                    <input type="text" class="form-control" id="createtime" name="row[createtime]" value="{:date('Y-m-d H:i',$row['createtime'])}"  disabled />
                </div>
            </div>
            <div class="form-group">
                <label for="contact_mobile" class="control-label col-xs-12 col-sm-2">联系电话:</label>
                <div class="col-xs-12 col-sm-8 col-width">
                    <input type="text" class="form-control" id="contact_mobile" name="row[contact_mobile]" {notempty name="row['contact_mobile']"}value="{$row.contact_mobile}"{else/}value="暂无"{/notempty}  disabled />
                </div>
            </div>


        </form>
    </div>
</div>