<div class="panel panel-default panel-intro">
    {:build_heading()}
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar" style="margin:15px;">
                        <form method="post" action="" name="myform">
                        <a href="javascript:void(0);" class="btn btn-success btn-add">添加</a>
                        <div class="image-index-search">
                            <input type="hidden" name="bnb_id" id="bnb_id" value="{$bid}">
                            <select name='image_class_id' id="image_class_id" class="form-control bind-bnb-district">
                                <option value=''>请选择类别</option>
                                {foreach name="classData" key ="k" item="vo"}
                                <option value='{$k}' {notempty name="image_class_id"}{eq name="image_class_id" value="$k"}selected{/eq}{/notempty}>{$vo
                                }</option>
                                {/foreach}
                            </select>
                            <input type="text" name="name" id="name" class="form-control bind-bnb-name" placeholder="请输入图片名称" {notempty  name="name"}value="{$name}"{/notempty}>
                            <button type="submit" class="btn btn-danger btn-submit" >搜索</button>
                        </div>
                        </form>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-bind-landlord"  >
                        <thead>
                        <th><input class="check-btn-all" type="checkbox" name="ids[]" value=""></th>
                        <th>图片</th>
                        <th>名称</th>
                        <th>类别</th>
                        <th>状态</th>
                        <th>操作</th>
                        </thead>
                        <tbody>
                        {foreach name="data" item="vo"}
                        {php}$state = $vo['status']+1;{/php}
                        <tr>
                            <td><input class="check-btn" id="check-{$vo.id}" type="checkbox" name="ids[]"  value="{$vo.id}"></td>
                            <td><img src="/{$imagePath}{$vo.url}" width="50" height="50"></td>
                            <td>{$vo.name}</td>
                            <td>{$vo.className}</td>
                            <td>{$stateData[$state]}</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-primary btn-checkone"  data-action="edit"  data-id="{$vo.id}">编辑</a>
                                {if $vo['status'] eq 1}
                                    <a href="javascript:void(0);" class="btn btn-primary btn-checkone" data-action="disable" data-id="{$vo.id}">隐藏</a>
                                {elseif $vo['status'] eq 0 }
                                    <a href="javascript:void(0);" class="btn btn-success btn-checkone" data-action="ok" data-id="{$vo.id}">显示</a>
                                {/if}
                                {neq name="vo['status']" value="-1"}
                                    <a href="javascript:void(0);" class="btn btn-danger btn-checkone" data-action="delete" data-id="{$vo.id}">删除</a>
                                {/neq}
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                    <div>{$page}</div>
                </div>
            </div>
        </div>
    </div>
</div>
